
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controller Curso</title>
    <h2>Index de Curso</h2>
</head>
<body>
    <div id="tabla_curso">

    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Scripts_Tutorial/Curso.js"></script>